@model FootballersDirectory.Models.Footballer
@{
	ViewBag.Title = "Редактировать фуболиста";
	Layout = "_Layout";
}

<head>
	<style>
		.btn:hover {
			background-color: #007bff;
		}
	</style>
</head>

<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
	<div class="form-group">
		<label asp-for="Name" class="control-label font-weight-bold">Имя</label>
		<input type="text" asp-for="Name" required class="form-control w-25" />
	</div>

	<div class="form-group">
		<label asp-for="Surname" class="control-label font-weight-bold">Фамилия</label><br>
		<input type="text" asp-for="Surname" required class="form-control w-25" />
	</div>

	<div class="form-group">
		<label asp-for="Sex" class="control-label font-weight-bold">Пол</label><br>
		<input type="radio" asp-for="Sex" value="мужской" required class="form-chek" />
		<label>Мужской</label>
		<input type="radio" asp-for="Sex" value="женский" required class="form-chek" />
		<label>Женский</label>
	</div>

	<div class="form-group">
		<label asp-for="BirthDate" class="control-label font-weight-bold">Дата рождения</label><br>
		<input type="date" asp-for="BirthDate" required class="form-control w-25" />
	</div>

	<div class="form-group">
		<label asp-for="TeamName" class="control-label font-weight-bold">Команда</label><br>
		@Html.DropDownListFor(p => p.TeamName, ViewBag.Teams as SelectList,
	   new { @ID = "dropList", @onchange = "checkOptions(this)", @class = "form-control w-25" })<br>
		<input id='otherInput' asp-for="TeamName" type="hidden" value="" class="form-control w-25"  required />
	</div>

	<div class="form-group">
		<label asp-for="Country" class="control-label font-weight-bold">Страна</label><br>
		<input type="radio" asp-for="Country" value="Россия" required class="form-chek" />
		<label>Россия</label>
		<input type="radio" asp-for="Country" value="США" required class="form-chek" />
		<label>США</label>
		<input type="radio" asp-for="Country" value="Италия" required class="form-chek" />
		<label>Италия</label>
	</div>

	<div class="form-group">
		<input type="submit" value="Сохранить" class="btn btn-dark" />
	</div>
</form>

<script src="~/js/site.js"></script>
